/Firmware/busPirate.X/build/default/
/Firmware/busPirate.X/debug/
/Firmware/busPirate.X/dist/
/Firmware/busPirate.X/nbproject/private/
/Firmware/busPirate.X/nbproject/Makefile-default.mk
/Firmware/busPirate.X/nbproject/Makefile-impl.mk
/Firmware/busPirate.X/nbproject/Makefile-local-default.mk
/Firmware/busPirate.X/nbproject/Makefile-variables.mk
/Firmware/busPirate.X/nbproject/Makefile-genesis.properties
/Firmware/busPirate.X/nbproject/Package-default.bash
/Firmware/busPirate.X/*.[is]
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/private/
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/dist/default/
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/build/default/
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-default.mk
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-impl.mk
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-local-default.mk
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-variables.mk
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-genesis.properties
/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Package-default.bash
/Firmware/busPirate.X/build/BusPirate_v3/
/Firmware/busPirate.X/build/BusPirate_v4/
/Firmware-Demos/ADC2UART/ADC2UART.X/nbproject/private/
/Firmware-Demos/ADC2UART/ADC2UART.X/build/default/
/Firmware-Demos/ADC2UART/ADC2UART.X/dist/default/
/Firmware-Demos/Blink_MODE_LED/Blink_MODE_LED.X/nbproject/private/
/Firmware-Demos/Blink_MODE_LED/Blink_MODE_LED.X/dist/default/
/Firmware-Demos/BusPirateADCDemo/Bus Pirate ADC Demo.X/nbproject/private/
/Firmware-Demos/BusPirateUARTDEMOTEST/UARTdemo.X/nbproject/private/
/firmware-STK500v2/BusPirate-stk500.X/nbproject/private/
/firmware-STK500v2/BusPirate-stk500.X/build/default/
/firmware-STK500v2/BusPirate-stk500.X/dist/default/