/Bootloaders/BPv3-bootloader/firmware-v4.5/ds30loader.X/dist/default/
/Bootloaders/BPv3-bootloader/firmware-v4.5/ds30loader.X/nbproject/private/
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/build/default/
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/dist/default/
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-default.mk
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-genesis.properties
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-impl.mk
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-local-default.mk
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Makefile-variables.mk
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/Package-default.bash
/Bootloaders/BPv4-bootloader/firmware-v1/bpv4-bootloader.X/nbproject/private/
/Firmware-Alternates/ADC2UART/ADC2UART.X/build/default/
/Firmware-Alternates/ADC2UART/ADC2UART.X/dist/default/
/Firmware-Alternates/ADC2UART/ADC2UART.X/nbproject/private/
/Firmware-Alternates/Blink_MODE_LED/Blink_MODE_LED.X/dist/default/
/Firmware-Alternates/Blink_MODE_LED/Blink_MODE_LED.X/nbproject/private/
/Firmware-Alternates/BusPirateADCDemo/Bus Pirate ADC Demo.X/nbproject/private/
/Firmware-Alternates/BusPirateUARTDEMOTEST/UARTdemo.X/nbproject/private/
/Firmware-Alternates/firmware-STK500v2/BusPirate-stk500.X/build/default/
/Firmware-Alternates/firmware-STK500v2/BusPirate-stk500.X/dist/default/
/Firmware-Alternates/firmware-STK500v2/BusPirate-stk500.X/nbproject/private/
/Firmware/Documentation/
/Firmware/busPirate.X/*.[is]
/Firmware/busPirate.X/*.map
/Firmware/busPirate.X/build/BusPirate_v3/
/Firmware/busPirate.X/build/BusPirate_v4/
/Firmware/busPirate.X/build/default/
/Firmware/busPirate.X/debug/
/Firmware/busPirate.X/dist/
/Firmware/busPirate.X/nbproject/Makefile-BusPirate_V3.mk
/Firmware/busPirate.X/nbproject/Makefile-BusPirate_V4.mk
/Firmware/busPirate.X/nbproject/Makefile-default.mk
/Firmware/busPirate.X/nbproject/Makefile-genesis.properties
/Firmware/busPirate.X/nbproject/Makefile-impl.mk
/Firmware/busPirate.X/nbproject/Makefile-local-BusPirate_v3.mk
/Firmware/busPirate.X/nbproject/Makefile-local-BusPirate_v4.mk
/Firmware/busPirate.X/nbproject/Makefile-local-default.mk
/Firmware/busPirate.X/nbproject/Makefile-variables.mk
/Firmware/busPirate.X/nbproject/Package-BusPirate_v3.bash
/Firmware/busPirate.X/nbproject/Package-BusPirate_v4.bash
/Firmware/busPirate.X/nbproject/Package-default.bash
/Firmware/busPirate.X/nbproject/private/
